# Ambiente
NODE_ENV=development
PORT=3001

# Banco de Dados Turso (LibSQL/SQLite)
# Para desenvolvimento local, use "file:local.db"
# Para produção no Turso, use "libsql://nome-banco-usuario.turso.io"
TURSO_DATABASE_URL=file:local.db
TURSO_AUTH_TOKEN=

